---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Contact from '../components/Contact.astro';
import Portrait from '../components/Portrait.astro';
import Footer from '../components/Footer.astro';
const stark1024 = 'stark1024.jpg';
const gmm_screenshot_1 = 'gmm_screenshot_1.jpg';
const github_profile_1 ='github_profile_1.jpg'
const cv_1 ='cv_1.jpg'
const customPortfolio_screenshot_1 ='customPortfolio_screenshot_1.jpg'
const pdf = 'ammartahacv.pdf';
---

<Layout title="Ammar Taha Portfolio">
	<div class="custom-svg-bg pb-10 pt-10">
		<main class="pt-10">			
			<div class="container">
				<h1 class="pt-10 custom-text-gradient">Ammar Taha: Web Dev</h1>
				<h1 class="pt-10 pb-20">Welcome to <span class="custom-text-gradient">My Personal Website</span></h1>
			</div>
			<div class="dynamic-layout container">
				<Portrait 
					image={stark1024}
				/>
				<Contact 
  				email="a.taha5200@gmail.com" 
  				tel="+41784016950"
  				address="Dietikon, Zürich"
				/>
			</div>
			<div class="container">
				<p class="custom-intro intro-svg-bg pb-20">
					Hi, I'm <strong>Ammar Taha</strong>, a recent CS graduate and web dev, I'm looking forward to working with and learning from experienced developers on different types of projects. <br>
					listed below are some of my projects and CV. <br> <br>
					Skills: Html, CSS/tailwindcss, JS/TS, React, Nextjs, Astro, Python
				</p>
			</div>

			<div class="pt-10 container"></div>

			<div class="container">
				<ul role="list" class="custom-link-card-grid pt-10">
				<Card
					href="https://github.com/stark5200/"
					title="Github Profile"
					body="My Personal Github Profile."
					image={github_profile_1}
				/>
				<Card
					href="https://gmm-ahmed.vercel.app/"
					title="Green Marmot Website"
					body="Custom website for Green Marmot Capsule hotel based in Zürich."
					image={gmm_screenshot_1}
				/>
				<Card
					href={pdf}
					title="My CV"
					body="Here is a look at my cv."
					image={cv_1}
				/>
				<Card
					href="https://github.com/stark5200/customPortfolio/"
					title="This Website "
					body="Here you can find the repo for this website made with Astro."
					image={customPortfolio_screenshot_1}
				/>
			</ul>
			</div>
		</main>
	</div>
	<Footer />
</Layout>


{/* Failed animation

	<div class="container m-auto flex">
		<svg 
			id="visual" viewBox="0 0 900 900" width="900" height="900" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
			<rect x="0" y="0" width="900" height="900" fill="#23262d"></rect>

			<defs><linearGradient id="grad1_0" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="30%" stop-color="#23262d" stop-opacity="1"></stop><stop offset="70%" stop-color="#23262d" stop-opacity="1"></stop></linearGradient></defs>
			<defs><linearGradient id="grad2_0" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="30%" stop-color="#23262d" stop-opacity="1"></stop><stop offset="70%" stop-color="#23262d" stop-opacity="1"></stop></linearGradient></defs>

			<g transform="translate(900, 0)"><path id="blob1-1" d="M0 318.2C-45.1 313.8 -90.2 309.5 -117.9 284.6C-145.6 259.6 -155.9 214.1 -186.7 186.7C-217.4 159.2 -268.7 149.9 -294 121.8C-319.3 93.7 -318.8 46.8 -318.2 0L0 0Z" fill="#03DAC6"></path></g>
			<g transform="translate(0, 900)"><path id="blob1-2" d="M0 -318.2C45.7 -317.6 91.3 -317 121.8 -294C152.2 -270.9 167.5 -225.4 194.5 -194.5C221.4 -163.5 260.1 -147.1 282.7 -117.1C305.3 -87.1 311.7 -43.6 318.2 0L0 0Z" fill="#03DAC6"></path></g>

			<g transform="translate(900, 0)" style="visibility: hidden"><path id="blob2-1" d="M0 222.7C-24.6 206.2 -49.2 189.6 -73.9 178.3C-98.6 167 -123.4 161.1 -147.1 147.1C-170.8 133.1 -193.4 111.1 -205.8 85.2C-218.2 59.4 -220.5 29.7 -222.7 0L0 0Z" fill="#03DAC6"></path></g>
			<g transform="translate(0, 900)" style="visibility: hidden"><path id="blob2-2" d="M0 -222.7C31.3 -221.7 62.7 -220.6 85.2 -205.8C107.8 -190.9 121.6 -162.3 140.7 -140.7C159.8 -119.1 184.1 -104.6 198.6 -82.3C213.2 -60 218 -30 222.7 0L0 0Z" fill="#03DAC6"></path></g>
		</svg>

		<script>
			const tween1 = KUTE.fromTo(
				'#blob1-1', 
				{path: '#blob1-1'},
				{path: '#blob2-1'}, 
				{repeat: 999, duration: 3000, yoyo: true, easing: 'easingQuadraticInOut' }
			)
			const tween2 = KUTE.fromTo(
				'#blob1-2', 
				{path: '#blob1-2'},
				{path: '#blob2-2'}, 
				{repeat: 999, duration: 3000, yoyo: true, easing: 'easingQuadraticInOut' }
			)
			
			tween1.start()
			tween2.start()
		</script>

	</div>
*/}

