---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Contact from '../components/Contact.astro';
import Portrait from '../components/Portrait.astro';
import Footer from '../components/Footer.astro';
const stark1024 = 'stark1024.jpg';
const gmm_screenshot_1 = 'gmm_screenshot_1.jpg';
const github_profile_1 ='github_profile_1.jpg'
const cv_1 ='cv_1.jpg'
const customPortfolio_screenshot_1 ='customPortfolio_screenshot_1.jpg'
const pdf = 'ammartahacv.pdf';
---

<Layout title="Ammar Taha Portfolio">
	<div class="custom-svg-bg pb-5 pt-5">
		<main>			
			<div class="custom-container">
				<h1 class="pt-5 custom-text-gradient">Ammar Taha: Front End Web Dev</h1>
				<h1 class="pt-5 pb-5">Welcome to <span class="custom-text-gradient">My Portfolio</span></h1>
			</div>
			<div class="dynamic-layout custom-container">
				<Portrait 
					image={stark1024}
				/>
				<Contact 
  				email="a.taha5200@gmail.com" 
  				tel="+41784016950"
  				address="Dietikon, Zürich"
				/>
			</div>
			<div class="custom-container">
				<p class="custom-intro intro-svg-bg">
					Hi, I'm <strong>Ammar Taha</strong>, a recent CS graduate and web dev, I'm looking forward to working with and learning from experienced developers on different types of projects. <br>
					listed below are some of my projects and CV. <br> <br>
					Skills: <span>Html</span> <span>CSS/tailwindcss</span> <span>JS/TS</span> <span>React</span> <span>Nextjs</span> <span>Astro</span> <span>Python</span>
				</p>
			</div>

			<div class="custom-container">
				<ul role="list" class="custom-link-card-grid pt-5">
				<Card
					href="https://github.com/stark5200/"
					title="Github Profile"
					body="My Personal Github Profile."
					image={github_profile_1}
				/>
				<Card
					href="https://gmm-ahmed.vercel.app/"
					title="Green Marmot Website"
					body="Custom website for Green Marmot Capsule hotel based in Zürich."
					image={gmm_screenshot_1}
				/>
				<Card
					href={pdf}
					title="My CV"
					body="Here is a look at my cv."
					image={cv_1}
				/>
				<Card
					href="https://github.com/stark5200/customPortfolio/"
					title="This Website "
					body="Here you can find the repo for this website made with Astro."
					image={customPortfolio_screenshot_1}
				/>
			</ul>
			</div>
		</main>
	</div>
	<Footer />
</Layout>



